USE [master]
GO
/****** Object:  Database [CompanyDB]    Script Date: 09.07.2025 17:29:55 ******/
CREATE DATABASE [CompanyDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CompanyDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CompanyDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CompanyDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CompanyDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CompanyDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CompanyDB]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 09.07.2025 17:29:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Department] [nvarchar](100) NOT NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[BirthDate] [date] NOT NULL,
	[HireDate] [date] NOT NULL,
	[Salary] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Id], [Department], [FullName], [BirthDate], [HireDate], [Salary]) VALUES (1, N'HR', N'Иванов Иван Иванович', CAST(N'1970-04-12' AS Date), CAST(N'2010-05-10' AS Date), CAST(12000.00 AS Decimal(18, 2)))
INSERT [dbo].[Employees] ([Id], [Department], [FullName], [BirthDate], [HireDate], [Salary]) VALUES (2, N'IT', N'Петров Пётр Петрович', CAST(N'1990-08-25' AS Date), CAST(N'2018-09-01' AS Date), CAST(9000.00 AS Decimal(18, 2)))
INSERT [dbo].[Employees] ([Id], [Department], [FullName], [BirthDate], [HireDate], [Salary]) VALUES (3, N'Finance', N'Сидорова Анна Викторовна', CAST(N'1985-03-10' AS Date), CAST(N'2015-02-15' AS Date), CAST(14000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
USE [master]
GO
